{% extends "layout.html" %}
{% block content %}

<div class="top">
    <h2>💰 Finance Dashboard</h2>

    <div class="cards">
        <div class="card green">
            <p>Income</p>
            <h3>{{ total_income }} VND</h3>
        </div>

        <div class="card red">
            <p>Expense</p>
            <h3>{{ total_expense }} VND</h3>
        </div>

        <div class="card blue">
            <p>Balance</p>
            <h3>{{ balance }} VND</h3>
        </div>
    </div>
</div>

<!-- FORM -->
<form action="/add" method="post" class="form">
    <input name="amount" placeholder="Amount" required>

    <select name="type">
        <option value="expense">Chi tiêu</option>
        <option value="income">Thu nhập</option>
    </select>

    <input name="category" placeholder="Category">
    <input name="note" placeholder="Note">
    <button>Add</button>
</form>

<!-- CHART -->
<canvas id="chart"></canvas>

<!-- TABLE -->
<table>
<tr>
    <th>Type</th>
    <th>Amount</th>
    <th>Note</th>
</tr>

{% for t in transactions %}
<tr>
    <td>{{ t.type }}</td>
    <td>{{ t.amount }}</td>
    <td>{{ t.note }}</td>
</tr>
{% endfor %}
</table>

<script>
new Chart(document.getElementById("chart"), {
    type: "line",
    data: {
        labels: {{ chart_labels|tojson }},
        datasets: [{
            data: {{ chart_values|tojson }},
            borderColor: "#22c55e",
            tension: 0.4
        }]
    }
});
</script>

{% endblock %}