{% extends "layout.html" %}
{% block content %}

<h2 class="title">Dashboard</h2>

<div class="cards">

    <div class="card">
        <p>Total Balance</p>
        <h2>{{ balance }} VND</h2>
    </div>

    <div class="card">
        <p>Total Income</p>
        <h2>{{ total_income }} VND</h2>
    </div>

    <div class="card">
        <p>Total Expense</p>
        <h2>{{ total_expense }} VND</h2>
    </div>

</div>

<!-- CHART -->
<div class="chart-box">
    <canvas id="chart"></canvas>
</div>

<!-- TABLE -->
<div class="table-box">
<table>
<tr>
    <th>Type</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Note</th>
</tr>

{% for t in transactions %}
<tr>
    <td>{{ t.type }}</td>
    <td>{{ t.amount }}</td>
    <td>{{ t.category }}</td>
    <td>{{ t.note }}</td>
</tr>
{% endfor %}
</table>
</div>

<script>
new Chart(document.getElementById("chart"), {
    type: "line",
    data: {
        labels: {{ chart_labels|tojson }},
        datasets: [{
            data: {{ chart_values|tojson }},
            borderColor: "#4f46e5",
            backgroundColor: "rgba(79,70,229,0.2)",
            fill: true,
            tension: 0.4
        }]
    }
});
</script>

{% endblock %}